

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">

        <div>
          <div class="border border-primary rounded-pill">
            <h1>Login</h1>
            <%= form_tag '/login', name: 'session', class: 'session' do %>
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="login-fields d-flex justify-content-around my-1 w-75">
                    Username <%= text_field_tag :username, nil, :class => 'username border border-primary ms-2 w-40' %>
                  </div>
                  <div class="login-fields d-flex justify-content-around my-1 w-75">
                    Password <%= password_field_tag :password, nil, :class => 'password border border-primary ms-2 w-40' %>
                  </div>
                </div>
              </div>
              <%= submit_tag 'Log in', class: 'login-button btn btn-link my-2 w-25 text-white' %>
            <% end %>
          </div>

          <div>
            <button type="button" class="login-button btn btn-link mt-4 w-25">
              <%= link_to 'Sign up', new_user_path, class: 'text-decoration-none text-white' %><br>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>