<%= form_with(model: group) do |f| %>

  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Name of Group' %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :icon %><br>
    <%= f.file_field :icon, accept: 'image/png,image/jpeg'%>
  </div>


  <div class="actions">
    <%= f.submit "Create Group", class: "btn btn-primary" %>
  </div>
<% end %>