<%= form_with(model: group) do |f| %>

  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Name of Group' %>
    <%= f.text_field :name, class: 'form-control mb-4', autofocus: true %>
  </div>



  <%= render 'groups/icons', icons_url: @icons_url, f: f %>


  <div class="actions my-4">
    <%= f.submit  class: "btn btn-primary" %>
  </div>
<% end %>