
<table>
  <tfoot>
  <tr>
    <td colspan="3"> <%= link_to 'New Group', new_group_path %> </td>
  </tr>
  </tfoot>
  <tbody>

<% @groups.each do |group| %>

  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="image">
      <%= image_tag('no_icon.png', class: 'img-thumbnail me-2', alt: 'Group icon', style: 'display: inline-block; margin: auto; width: 2.5rem;') %>
    </td>
    <td class="description me-2">
      <h1><%= group.name %></h1>
    </td>
    <td class="actions">
      <ul>
        <li><%= link_to 'Show', group %></li>
        <li><%= link_to 'Edit', edit_group_path(group) %></li>
        <li> <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
      </ul>
    </td>
  </tr>


<% end %>
  </tbody>
</table>

<div>
  <%=  @groups.count %>
</div>
<button type="button" class="btn btn-primary mt-4 w-25">
  <%= link_to 'Create group', new_group_path,  class: 'text-decoration-none text-white' %></button>
  <br>
  <button type="button" class="btn btn-primary mt-4 w-25">
  <%= link_to 'Back home', user_path(session[:user_id]),  class: 'text-decoration-none text-white' %></button>