<h1>Group name: &nbsp; <%= @group.name %></h1>
<br>
<%= image_tag(@group.icon.nil? ? 'groups/noicon.png' : 'groups/' + @group.icon, class: 'img-thumbnail me-2', alt: 'Group avatar', style: 'display: inline-block; margin: auto; width: 2.5rem;') %>
<br>
<h2>Here you can see the group details</h2>
<div>Creator: &nbsp; </div>
<div><%= @group.creator.username %></div>
<div>Activities: &nbsp; </div>
<div><%= @group.activities.count %></div>
<%= link_to 'All groups', groups_path,  class: 'text-decoration-none text-dark' %>