
<div>
  <h2>New user</h2>
  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'Create account' %>
  <% end %>
</div>