<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="user-logo-info text-center mt-4">
        <%= image_tag(@user.icon.nil? ? 'users-avatars/nousericon.png' : 'users-avatars/' + @user.icon, class: 'img-thumbnail', alt: 'User avatar') %>
        <div class="user-name text-center"><%= @user.username.capitalize %></div>

        <%= link_to edit_user_path, class: 'edit-profile-text text-decoration-none text-center' do %>
            <i class="material-icons">settings</i>
        <% end %>


      </div>
    </div>
  </div>
</div>


<div class='user-menu-options mb-5'>
  <div><i class="main-screen-icons material-icons me-3">directions_run</i>
      <%= link_to 'All my activities', activities_path, class: '' %>
  </div>
  <div><i class="main-screen-icons material-icons me-3">directions_walk</i>
      <%= link_to 'All my external activities', activities_path(ungrouped: true) , class: 'text-decoration-none' %>
  </div>
  <div><i class="main-screen-icons material-icons me-3">groups</i>
      <%= link_to 'All groups', groups_path, class: 'text-decoration-none' %>
  </div>
</div>

<%= link_to logout_path, class: 'edit-profile-text  text-decoration-none text-center' do %>
  <div class="add-group-wrapper d-block">
    <i class="material-icons logout-button">close</i>
    <p>Logout</p>
  </div>
<% end %>
