<div class="border border-success rounded">

  <%= form_for @activity do |f| %>
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="d-flex justify-content-between my-1 w-75">
          <%= f.label :name %> <%= f.text_field :name, :class => 'border border-success ms-2 w-40' %>
        </div>
        <div class="d-flex justify-content-between my-2 w-75">
          <%= f.label :amount %> <%= f.number_field :amount, in: -10000.0..10000.0, step: 0.01, :class => 'border border-success ms-2 w-40' %>
        </div>
        <div class="d-flex justify-content-around my-1 w-75">
          <% f.label :group_id %> <% f.text_field :group_id, :value => "158", :class => 'border border-success ms-2 w-40' %>
        </div>

        <%= render 'groups-listing', icons_url: @icons_url, f: f %>

      </div>
    </div>

    <div class="add-group-wrapper d-flex justify-content-around mt-5">

      <%= f.button :type => "submit", style: 'border-style: none; background-color: transparent;' do %>
        <div class="add-group-wrapper d-block">
          <i class="material-icons">save_alt</i>
        </div>
      <% end %>


      <%= link_to activities_path, class: 'edit-profile-text text-decoration-none text-center' do %>
        <div class="add-group-wrapper d-block">
          <i class="material-icons">reply</i>
          <p>Back</p>
        </div>
      <% end %>

    </div>


  <% end %>
</div>