<%= form_with(model: model) do |f| %>

  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
        <% model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, class: 'form-control mb-4', autofocus: true %>
  </div>



  <%= render 'layouts/icons', icons_url: @icons_url, f: f %>


  <div class="add-group-wrapper d-flex justify-content-around mt-5">

    <%= f.button :type => "submit", style: 'border-style: none; background-color: transparent;' do %>
      <div class="add-group-wrapper d-block">
        <i class="material-icons">save_alt</i>
      </div>
    <% end %>

    <%= link_to groups_path, class: 'edit-profile-text text-decoration-none text-center' do %>
      <div class="add-group-wrapper d-block">
        <i class="material-icons">reply</i>
        <p>Back</p>
      </div>
    <% end %>

  </div>

<% end %>