<!DOCTYPE html>
<html>
  <head>
    <title>RorCapstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% puts  'before flash loop' %>
  <% puts  flash.count %>
  <% flash.each do |message_type, message| %>
  <% puts  'in flash loop' %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

    <%= yield %>
  </body>
</html>
