<!DOCTYPE html>
<html>
<head>
  <title>RorCapstone</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Tangerine">
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body class="">


<%= render 'layouts/header' %>
<div class="">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
      <%= content_tag(:div, message) %>
    </div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
